# Server Config
PORT=3000

# DB Config
DB_USER=postgres
DB_PASSWORD=isi password
DB_HOST=localhost
DB_PORT=isi port
DB_NAME=db_monitoring_ip


# Scheduler Logic
PING_TIMEOUT_SECONDS=3
OFFLINE_THRESHOLD=3
PING_INTERVAL_CRON=*/10 * * * * *

# URL DB Untuk Prisma
DATABASE_URL="postgresql://postgres:isi password@localhost:isi port/db_monitoring_ip?schema=public"
